CONFIG_ESP_MAIN_TASK_STACK_SIZE=50000
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=30000
CONFIG_LWIP_SNTP_MAX_SERVERS=4
CONFIG_RTC_CLK_CAL_CYCLES=3000
CONFIG_RTC_CLK_SRC_EXT_CRYS=y
CONFIG_ESP32C3_RTC_CLK_SRC_INT_RC=n
CONFIG_ESP32C3_RTC_CLK_SRC_EXT_CRYS=y
CONFIG_ESP32C3_RTC_CLK_CAL_CYCLES=3000
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESP32C3_LIGHTSLEEP_GPIO_RESET_WORKAROUND=y
